:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.calc-wrapper {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
}

/* =================================================== ==> */
.calculator {
  width: 100%;
  max-width: 400px;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  border: 1px solid #b5b5b5;
}

.cal-display-container {
  padding: 1rem;
  text-align: center;
  background-color: var(--dark);
  color: var(--light);
  font-size: 1.5rem;
  font-weight: 300;
}

.cal-display-container span {
  font-size: 0.913rem;
  color: #888;
}

.operators-container {
  display: flex;
  width: 100%;
}

.operators-container > button {
  flex-basis: 20%;
  border: 1px solid #e9e9e9;
  padding: 1rem;
  border-radius: 5px;
  background-color: #e0f3ff;
}

.digits-container {
  display: flex;
  flex-wrap: wrap;
}

.digits-container > button {
  flex-basis: 33.33%;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 5px;
  background-color: aliceblue;
}
